:root {
  --main-bg: #2a3447;
  --soft-bg: #384256;
  --dark-bg: #222b3c;

  --main-color: white;
  --soft-color: #ddd;
  --dark-color: #2a3447;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 62.5% of 16px = 10px; 1 rem = 10px */
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Layout Style */
.main {
  background: var(--main-bg);
  color: var(--main-color);
}
.container {
  display: flex;
}

.menuContainer {
  width: 250px;
  padding: 0.5rem 2rem;
  border-right: 2px solid var(--soft-bg);
}

.contentContainer {
  padding: 0.5rem 2rem;
  width: 100%;
}
