.topBox h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.singleUser {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  font-size: 1.2rem;
}

.singleUser .userImg img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.userDetails {
  display: flex;
  gap: 1rem;
}

.userText {
  display: flex;
  flex-direction: column;
}

.userName {
  font-size: 1.4rem;
  font-weight: 500;
}

.userEmail {
  font-size: 1.2rem;
}
